.card__picture {
  width: 83%;
  background-size: cover;
  height: 37rem;
  top: 45rem;
  position: absolute;
  /* background-blend-mode: screen; */
  /* clip-path: polygon(0 0, 79% 0, 100% 99%, 0% 100%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
  /* z-index: -100; */
  /* overflow: scroll; */
}
.ico {
  margin-top: 1.7rem;
  color: #7ed56f;
}
.s_img {
  display: flex;
  height: 47rem;
  z-index: -1;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../Images/I6.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
}
.h_img {
  position: relative;
  top: -7rem;
  width: 25%;
  height: 13rem;
}
.c_content {
  position: relative;
  top: -9rem;
  height: 37rem;
  background-color: #f7f7f7;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.c_header {
  font-size: 2.2rem;
  margin: 2rem 6.5rem 0 6.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7ed56f),
    to(#28b485)
  );
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.c_header:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.c_text {
  display: flex;
}
.c_text_inner {
  margin: 3rem 4rem 3rem 4rem;
}
.c_text_inner_h2 {
  margin-top: 2rem;
}
.c_text_inner_p {
  margin-top: 1.3rem;
}
.c_text_inner_button_content {
  border: none;
  background-color: inherit;
  color: #55c57a;
  font-size: 0.9rem;
  transition: all 0.2s;
}
.c_text_inner_button_content:hover {
  color: #777;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.c_text_inner_button {
  margin-top: 2.5rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.c_content_card {
  margin: 3rem 4rem 0rem 0rem;
  background-color: white;
  width: 53%;
  height: 17rem;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(153, 153, 153, 0.408);
}
.c_content_card_hr {
  margin-top: 1rem;
  /* background-color: #f7f7f7; */
  color: #f7f7f7;
}
.c_content_card_img {
  margin-top: 1rem;
  width: 27%;
  border-radius: 1rem 0 1rem 0;
}
.c_content_card_h3 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.7rem;
}
.c_content_card_span {
  font-weight: 300;
  color: rgb(255, 187, 0);
}

.c_explore_card {
  position: relative;
  margin-top: 16rem;
  margin-left: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 18%;
  height: 19rem;
  text-align: center;
  transition: all 0.6s;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem rgba(153, 153, 153, 0.408);
}
.c_explore_card:hover {
  margin-top: 14rem;
}
.c_explore_card_h3 {
  margin-top: 1.7rem;
  font-size: 1rem;
  color: #777;
}
.c_explore_card_p {
  font-size: 0.9rem;
  color: #888;
  margin-top: 1rem;
}
.c_select {
  position: relative;
  top: 20rem;
  height: 55rem;
  background-color: #f7f7f7;
  clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
  /* z-index: -1; */
  display: flex;
}
.c_select_card {
  width: 25%;
  position: relative;
  height: 35rem;
  background-color: white;
  margin-left: 4rem;
  top: 14rem;
  box-shadow: 0rem 0.1rem 0.5rem 0.3rem rgba(153, 153, 153, 0.341);
}
.c_select_card_cover {
  width: 100%;
  background-size: cover;
  height: 20rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);

  /* position: absolute; */
}
.c_header_heading {
  /* position: absolute;
  top: 5rem; */
  font-size: 1.7rem;
  width: 90%;
}
.c_select_card_picture {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(../Images/I6.jpg);
}
.c_footer {
  position: relative;
  top: 20rem;
  background-color: #333;
  height: 24rem;
  display: flex;
}
.c_footer ul {
  /* width: 45%; */
  position: relative;
  top: 7rem;
  margin: 0rem 0 0 4rem;
  list-style: none;
  display: flex;
  gap: 1.4rem;
  border-top: 0.1rem solid #777;
  /* display: inline-block; */
}
.c_footer p {
  width: 55%;
  margin: 7rem 1rem 0 4rem;
  border-top: 0.1rem solid #777;
}
